<%= form_with model: @question, url: resourse_url, local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :body %><br>
    <%= form .text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
