
<%= form_with model: [:admin, @badge], local: true do |form| %>
<%= render 'shared/errors', resource: @badge %>
<p>
  <%= form.label :title %><br>
  <%= form .text_field :title, id: :badge_title %>
</p>
<p>
  <%= form.label :rule %><br>
  <%= form.select :rule, current_user.list_of_rule, include_blank: 'Select Rule' %>
</p>
<p>
  Select Picture:
<div class='form-check'>
  <%= form.collection_radio_buttons :picture_id, Picture.all, :id, :url, include_hidden: false do |b| %>

      <%= b.radio_button id: "picture_id_#{b.object.id}" %>
      <%#= b.label%>
      <%= content_tag :img, nil, src: root_path + b.text, width: '100' %>

  <% end %>
</div>
</p>
<p>
  <%= form.submit %>
</p>

<% end %>
