<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <ul class="nav mr-auto">
    <li class="nav-item">
      <%= link_to t('.contacts'),  contacts_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.badges'), admin_badges_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t('.gist_info'), admin_gists_path, class: "nav-link" %>
    </li>
  </ul>

  <div class="nav-admin user">
    <%= t('.welcome') %>, <b class="navbar-text"><%= current_user.email %> </b> Guru |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>

</nav>
