<div id= 'header' >
  <h1> <%= t('.welcome_to') %><%= link_to 'Test-guru', root_path %></h1>
  <% if user_signed_in? %>
    <p class="nav user">
      <%= t('.welcome') %>, <b><%= current_user.email.scan(/\w+/)[0].capitalize %></b> Guru |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    </p>
  <% else %>
    <p class="nav user">
      <%= link_to t('.signup'), new_user_registration_path %> |
      <%= link_to t('.login'), new_user_session_path %>
    </p>
  <% end %>

</div>
