<tr>
  <td><%=test.title%></td>
  <td align = 'center'><%=test.questions.count%></td>
  <td>
    <div class="btn-group" role="group">
      <%= link_to t('.show'), admin_test_questions_path(test), class: "btn btn-info"  %>
      <%= link_to t('.edit'), edit_admin_test_path(test), class: "btn btn-primary" %>
      <%= link_to t('.delete'),
                    admin_test_path(test),
                    method: :delete,
                    data:   {confirm: t('.confirm')},
                    class: "btn btn-danger" %>
    </div>
  </td>
</tr>
