
<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table>
  <tr>
    <th width = '200'><%= t('.title_header') %></th>
    <th><%= t('.question_header') %></th>
    <th colspan ="3"><%= t('.action_header') %></th>
  </tr>

<%= render @test %>

</table>
