
<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th width = '200'><%= t('.title_header') %></th>
    <th><%= t('.question_header') %></th>
    <th><%= t('.action_header') %></th>
  </tr>

<%= render @test %>

</table>
