
<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <div class="alert alert-info" role="alert">
      <h3 class="alert-heading"><%= t('.header') %></h3>
    </div>
    <table class="table table-hover table-sm">
      <tr>
        <th scope="col"><%= t('.title_header') %></th>
        <th scope="col"><%= t('.question_header') %></th>
        <th scope="col"><%= t('.action_header') %></th>
      </tr>
      <%= render @test %>
    </table>

  </div>
</div>
